<div class="newsletter">
    <div class="newsletter__title-wrapper">
        <p class="newsletter__title">Se de los primeros en saber</p>
    </div>
    <form [formGroup]="form">
        <div class="mb-15">
            <input 
                class="newsletter__input" 
                type="email" 
                formControlName="email"
                placeholder="e-mail"
            >
        </div>
        <div class="newsletter__submit-container">
            <button (click)="onSubmit(form.value)"
                [disabled]="!form.valid"
                class="newsletter__button" 
                [ngClass]=" {
                    'newsletter__button--clicked': buttonClicked
                }">
                Llegate mano
            </button>
        </div>
    </form>
</div>