<div class="countdown__container">
    <div class="countdown__wrapper">
        <p class="countdown__value">{{countdown?.days}}</p>
        <p class="countdown__label">Days</p>
    </div>
    <div class="countdown__wrapper">
        <p class="countdown__value">{{countdown?.hours}}</p>
        <p class="countdown__label">Hours</p>
    </div>
    <div class="countdown__wrapper">
        <p class="countdown__value">{{countdown?.minutes}}</p>
        <p class="countdown__label">Minutes</p>
    </div>
    <div class="countdown__wrapper">
        <p class="countdown__value">{{countdown?.seconds}}</p>
        <p class="countdown__label">Seconds</p>
    </div>
</div>